@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
      background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  }
}